SECRET_KEY='replace-me'
DEBUG=TRUE
DJANGO_DEBUG=TRUE
ALLOWED_HOSTS=example.com,www.example.com
DATABASE_URL=
USE_S3=FALSE
SECURE_SSL_REDIRECT=FALSE
SECURE_HSTS_SECONDS=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=eu-north-1
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_ADMIN_EMAIL=
CSRF_TRUSTED_ORIGINS=
